PUSHPLUS_TOKEN=
OPENCODE_NOTIFY_COOLDOWN_MIN=10
#OPENCODE_NOTIFY_OFF=1
#OPENCODE_NOTIFY_MARKER_FILE=
#CODEX_NOTIFY_MARKER_FILE=
#OPENCODE_NOTIFY_QUIET=23-8
#OPENCODE_NOTIFY_DEBUG=1
#CODEX_NOTIFY_DEBUG=1
#NOTIFY_AI_SCRIPT=
#OPENCODE_NOTIFY_SCRIPT=
#OPENCODE_NOTIFY_STATE_FILE=
#OPENCODE_NOTIFY_LOG_FILE=
